<!Doctype html>
<html lang="ja">

<head>
 <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
 <link rel="stylesheet" href="/stylesheets/login.css">
 <script type="text/javascript" src="/javascripts/login.js"></script>
</head>

<body>
    <div class="login">
        <div class="login-triangle"></div>
        
        <h2 class="login-header">Log in</h2>
      
        <form class="login-container">
          <p id="email"><input type="email" name="email" placeholder="Email"></p>
          <p id="password"><input type="password" name="password" placeholder="Password"></p>

          <p id="login"><input type="submit"  value="Log in"></p>
          <p id="signup"><input type="submit"  value="Sign up"></p>
        </form>
      </div>
</body>

</html>
