<!Doctype html>
<html lang="ja">

<head>
 <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
 <link rel="stylesheet" href="/stylesheets/main.css" />
 
</head>

<body>
    <div id="global-wrapper">
        <header id="global-header">
          <h1 class="ttl">Message</h1>
        </header>
      
        <div id="global-stage">
          <div id="global-stage-inner" class="inner">
          </div>
        </div>
      
        <footer id="global-footer">
          <form id="global-footer-form" class="form">
            <input id="global-footer-form-txt" class="txt" type="text"></input>
          <input id="global-footer-form-btn" class="btn submit" type="submit" value="é€ä¿¡" />
          </form>
        </footer>
      </div>
</body>

</html>